.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001B5E;
  padding: 0 25px;
}

.logo {
  padding: 0.5em;
  transition: color 300ms;
  font-size: 2em;
}

.logo:hover {
  color: #646cffaa;
}

.nav, a, .logo  {
  background-color: #001B5E;
  color: #fff;
}

.nav > a {
  padding-right: 10px;
}