.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.message {
    padding: 25px;
}

h1 {
    color: #000;
}

span {
    color: #0046F8;
}

p {
    color: #000;
    padding: 10px 10px 10px 0;
}